In [31]:
import os
import pandas as pd
import numpy as np
import copy
#import seaborn as sns
#import matplotlib.pyplot as plt
import warnings
#from numpy import asarray
#from sklearn.preprocessing import OneHotEncoder
%matplotlib inline
#np.set_printoptions(threshold=np.inf)

warnings.filterwarnings('ignore')

sns.set_style(style = 'whitegrid')


def eda_cat(df):
    #Extract the categorical variables as a separate dataframe
    df_cat = df.select_dtypes(include='object').copy()
    
    #Create a dataframe for the summary table
    df_cat_stats = pd.DataFrame(columns=["column", "values", "value_count_na", "value_count_nona", "mode", "min_occ","num_miss", "pct_miss"])
    #Create a temporary dataframe
    tmp = pd.DataFrame()
    
    for c in df_cat.columns:
        #Get the column name
        tmp['column'] = [c]
        #Get the list of categories
        tmp['values'] = [df_cat[c].unique()]
        #Get the number of unique categories with null included
        tmp['value_count_na'] = len(list(df_cat[c].unique()))
        #Get the number of unique categories without null
        tmp['value_count_nona'] = int(df_cat[c].nunique())
        #Get the most occuring category
        tmp["mode"] = df_cat[c].value_counts().index[0]
        #Get the least occuring category
        tmp['min_occ'] = df_cat[c].value_counts().index[-1]
        #Get the number of missing values
        tmp['num_miss'] = df_cat[c].isnull().sum()
        #Get the percentage of missing values
        tmp['pct_miss'] = (100*df_cat[c].isnull().sum()/ len(df_cat))
        #Append to the stats table
        df_cat_stats = df_cat_stats.append(tmp)
        
    #Sort by percentage of missing values  
    df_cat_stats.sort_values(by = 'pct_miss', inplace = True, ascending = False)
    #Set column name as index
    df_cat_stats.set_index('column', inplace = True)

    return df_cat_stats, df_cat

In [32]:
file = pd.read_csv("sites.txt", error_bad_lines=False, encoding="latin1", delimiter="\t")
file.head(3)

,GLOBAL_ID,BUSINESS_NAME,STREET_NUMBER,STREET_NAME,CITY,STATE,ZIP,COUNTY,LATITUDE,LONGITUDE,...,POTENTIAL_MEDIA_OF_CONCERN,SITE_HISTORY,BEGIN_DATE,HOW_DISCOVERED,HOW_DISCOVERED_DESCRIPTION,STOP_METHOD,STOP_DESCRIPTION,CALWATER_WATERSHED_NAME,DWR_GROUNDWATER_SUBBASIN_NAME,DISADVANTAGED_COMMUNITY
0,WDR100039607,Newberry Dairy,44128,Silver Lake Road,Newberry Springs,CA,92365,San Bernardino,34.866860,-116.696060,...,NaN,NaN,12/27/2016 0:00,NaN,NaN,NaN,NaN,NaN,Lower Mojave River Valley (6-040),NaN
1,WDR100047374,Lower Summers Meadow,NaN,Green Creek Road,Bridgeport,CA,NaN,Mono,NaN,NaN,...,NaN,NaN,12/15/2012 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WDR100029512,Cardozo Silver River Dairy,NaN,14925 Cardozo Rd,Helendale,CA,92342,San Bernardino,34.714784,-117.338193,...,NaN,NaN,9/17/1999 0:00,NaN,NaN,NaN,NaN,Mojave - Upper Mojave (628.20),Upper Mojave River Valley (6-042),Disadvantaged Community

In [33]:
a,b = eda_cat(file)

In [34]:
a

,values,value_count_na,value_count_nona,mode,min_occ,num_miss,pct_miss
column,,,,,,,
STOP_DESCRIPTION,"[nan, tank removed, OTHER MEANS, CLOSE AND REP...",2694,2693,OTHER MEANS,Booms and soil removal,67391,92.430394
HOW_DISCOVERED_DESCRIPTION,"[nan, Tank Closure, DISCOVERED DURING IAS., Mc...",3580,3579,TANK REMOVAL,Free product discovered during Phase II invest...,67369,92.400219
DISADVANTAGED_COMMUNITY,"[nan, Disadvantaged Community, Severely Disadv...",3,2,Severely Disadvantaged Community,Disadvantaged Community,64118,87.941297
STOP_METHOD,"[nan, Repair Product Piping, Other Means, Clos...",107,106,Close and Remove Tank,"Close and Replace Tank, Repair Product Piping,...",55596,76.252915
SITE_HISTORY,"[nan, Semiannual groundwater monitoring. Ba...",15388,15387,The case was opened following an unauthorized ...,Not all historic documents for the case may be...,53985,74.043341
LOC_CASE_NUMBER,"[nan, 30083, 440009, 100105 -- 283, 51656, H14...",30256,30255,TT,400105 -- 137,38862,53.301330
HOW_DISCOVERED,"[nan, Tank Closure, Nuisance Conditions, Other...",287,286,Tank Closure,"* PTR, Groundwater Monitoring",38707,53.088740
FILE_LOCATION,"[nan, Regional Board, All Files are on GeoTrac...",14,13,Regional Board,"Archived, Regional Board, State Records Center",36849,50.540392
LOCAL_AGENCY,"[nan, SOLANO COUNTY, MONTEREY COUNTY, KERN COU...",115,114,LOS ANGELES COUNTY,US DEPARTMENT OF DEFENSE,33643,46.143190
CASEWORKER,"[nan, GPG, JMM, SMA, MJL, EHW, BRI, MLP, SP, C...",555,554,ZZZ,SRA,22145,30.373063
POTENTIAL_CONTAMINANTS_OF_CONCERN,"[nan, Gasoline, Heating Oil / Fuel Oil, Dichlo...",3719,3718,Gasoline,"Alcohols, Acetone, Other Solvent or Non-Petrol...",19069,26.154163
POTENTIAL_MEDIA_OF_CONCERN,"[nan, Other Groundwater (uses other than drink...",285,284,Soil,"Indoor Air, Sediments, Soil Vapor",17887,24.532986
RB_CASE_NUMBER,"[nan, Food Processing, 48-0228, 2363, 669, 5T1...",53492,53491,2169.6032,T10000011273,17370,23.823892
DWR_GROUNDWATER_SUBBASIN_NAME,"[Lower Mojave River Valley (6-040), nan, Upper...",345,344,Santa Clara Valley - Santa Clara (2-009.02),Hemet Lake Valley (8-006),15597,21.392127
STREET_NUMBER,"[44128, nan, 30061, 1, 23920, 37153, 84830, 17...",14896,14895,0,3400 & 3406,14680,20.134412
CALWATER_WATERSHED_NAME,"[nan, Mojave - Upper Mojave (628.20), Mojave -...",798,797,South Bay - San Mateo Bayside (204.40),Cortina - Nye Creek (561.50),5472,7.505143
ZIP,"[92365, nan, 92342, 96150, 92347, 93526, 92347...",5391,5390,93524-1130,96121,4022,5.516390
BEGIN_DATE,"[12/27/2016 0:00, 12/15/2012 0:00, 9/17/1999 0...",10315,10314,1/1/1985 0:00,9/10/2012 0:00,3808,5.222878
STREET_NAME,"[Silver Lake Road, Green Creek Road, 14925 Car...",31344,31343,PRIVATE RESIDENCE,West side of Building 551,1631,2.237005
LEAD_AGENCY,"[LAHONTAN RWQCB (REGION 6V), LAHONTAN RWQCB (R...",104,103,LOS ANGELES RWQCB (REGION 4),MARIPOSA COUNTY,361,0.495131
CITY,"[Newberry Springs, Bridgeport, Helendale, Sout...",2813,2812,SAN DIEGO,Laguna Hills,61,0.083665
COUNTY,"[San Bernardino, Mono, El Dorado, Inyo, Placer...",59,58,Los Angeles,Sierra,9,0.012344
BUSINESS_NAME,"[Newberry Dairy, Lower Summers Meadow, Cardozo...",63437,63436,PRIVATE RESIDENCE,Lennar Mare Island - Storm Sewer System near I...,4,0.005486
STATUS_DATE,"[5/18/2011 0:00, 12/15/2012 0:00, 9/17/1999 0:...",9525,9524,1/1/1965 0:00,1/11/1988 0:00,3,0.004115
STATUS,"[Active - CAF, Historical - CAF, Draft - CAF, ...",42,42,Completed - Case Closed,Completed,0,0.000000
STATE,[CA],1,1,CA,CA,0,0.000000
CASE_TYPE,"[* Confined Animal Facilities (CAF), LUST Clea...",17,17,LUST Cleanup Site,Aquifer Exemption,0,0.000000
CUF_CASE,"[NO, YES]",2,2,NO,YES,0,0.000000
GLOBAL_ID,"[WDR100039607, WDR100047374, WDR100029512, WDR...",72910,72910,T0604100331,T0604100153,0,0.000000

In [ ]:
# def one_hot_enc(dataframe, column):
#     if column in dataframe.columns:
#         data = asarray(dataframe[column].tolist())
#         data1 = data.reshape(-1,1)
#         encoder = OneHotEncoder(sparse=False)
#         onehot = encoder.fit_transform(data1)
#     return onehot

In [ ]:
# # -*- coding: utf-8 -*-
# """
# This module contains functions for initial summarization of categorical data
# """


# import os
# import pandas as pd
# import numpy as np
# import copy
# import seaborn as sns
# import matplotlib.pyplot as plt
# %matplotlib inline

# # Extract categorical data from df
# def extract_categorical_data(df):
#     cat_frm_df = df.select_dtypes(include=['object']).copy()
#     return(cat_frm_df)

# # Missing value table
# def missing_value_table(df):
#     # Total missing values
#     missing_values = df.isnull().values.sum()
    
#     # Missing values by columns
#     missing_values1 = df.isnull().sum()
    
#     # Missing values percentage
#     missing_values1_percent = 100 * missing_values1/len(df)
    
#     # Table with the results
#     missing_values1_table = pd.concat([missing_values1, missing_values1_percent], axis=1)
    
#     # Rename the columns
#     missing_values1_table.rename(columns={0:'Missing Values', 1:'% of Missing Values'}, inplace=True)
    
#     # Sort the table by percentage of missing descending
#     missing_values1_table = missing_values1_table[missing_values1_table.iloc[:,1] != 0].sort_values(
#     '% of Missing Values', ascending=False).round(2)
    
#     # Print some summary information
#     print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
#         "There are " + str(missing_values1_table.shape[0]) +
#           " columns that have missing values.")
#     print ("The total number of missing values are: ",missing_values)
    
#     # Return the dataframe with missing information
#     return missing_values1_table

# # Bar plot of number of occurances of a variable
# def barplot_of_variables(df):
#     column1 = input("Enter the column to plot : ")
#     column_count = df[column1].value_counts()
#     sns.set(style='darkgrid')
#     sns.barplot(column_count.index, column_count.values, alpha=0.9)
#     plt.title("Frequency distribution of {}".format(column1))
#     plt.ylabel("Number of Occurences", fontsize=12)
#     plt.xlabel("{}".format(column1), fontsize=12)
#     plt.show()
    
# # Pie chart of the number of occurrences of a variable
# def pie_chart_variables(df):
#     column2 = input("Enter the column to the plot : ")
#     labels = df[column2].astype('category').cat.categories.tolist()
#     counts = df[column2].value_counts()
#     sizes = [counts[var_cat] for var_cat in labels]
#     fig1, ax1 = plt.subplots()
#     ax1.pie(sizes, labels=labels, autopct ='%1.1f%%', shadow=True)
#     ax1.axis('equal')
#     plt.show()
    
# # Label Encoding
# def label_encoding_var(df):
#     column3 = input("Enter column to encode : ")
#     column_name1 = input("Enter new column name : ")
#     df_lc = df.copy()
#     df_lc[column3] = df_lc[column3].astype('category')
#     df_lc[column_name1] = df_lc[column3].cat.codes
#     return df_lc

# # Specific Label Encoding
# def label_encoding_specific(df):
#     column4 = input("Enter the column to encode : ")
#     key_word = input("Enter key word to search : ")
#     column_name = input("Enter new column name : ")
#     df_lc_spec = df.copy()
#     df_lc_spec[column_name] = np.where(df_lc_spec[column4].str.contains(key_word),1, 0)
#     return df_lc_spec

# # One-Hot Encoding
# def one_hot_enc(df):
#     column5 = input("Enter the column to encode : ")
#     prefix1 = input("Enter prefix for encoded columns : ")
#     df_ohc = df.copy()
#     df_ohc = pd.get_dummies(df_ohc, columns = [column5], prefix = [prefix1])
#     return df_ohc